---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}

<!-- Table of Content -->
<div>
  {% set tableofcontent = content | toc %}
  {% if tableofcontent | length %}
  {% macro sidetoc(link) %}
  <li>
      <a
        href="{{ link.href }}"
      >
        {{ link.title }}
      </a>
      {% if link.children %}
      <ol>
      {% for link in link.children %}
      {{ sidetoc(link) }}
      {% endfor %}
      </ol>
      {% endif %}
  </li>
  {% endmacro %}
  <h5>Table of content:</h5>
  <div>
      <nav>
        <ol>
            {% for link in tableofcontent %}
            <li>
              <a
                  href="{{ link.href }}"
              >
                  {{ link.title }}
              </a>
              {% if link.children %}
              <ol>
              {% for link in link.children %}
              {{ sidetoc(link) }}
              {% endfor %}
              </ol>
              {% endif %}
            </li>
            {% endfor %}
        </ol>
      </nav>
  </div>
  {% else %}
  <p>No table of content.</p>
  {% endif %}
</div>

{{ content | safe }}

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
